{% extends 'layout\base.html' %}
{% load static %}
{% block contains %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/07d74fac69.js" crossorigin="anonymous"></script>
<style>
    * {
        font-family: 'Poppins', sans-serif;
    }

    @media (min-width: 768px) {
     
        .login-main-right {
            padding: 0 16% !important;
            min-height: 100vh;
            margin-top: -40px;
        }
        .arrow-up {
            display: none;
        }

        .name-left {
            align-items: end;
        }

    }

    @media (min-width: 992px){
        .login-main-right {
            padding: 0 19% !important;
            min-height: 100vh;
            margin-top: -40px;
        }
    }

    @media (max-width: 768px) {
        .login-main-right {
            padding: 0 11% !important;
            min-height: 105vh;
            margin-top: -49px;
        }

        .arrow-up {
            display: block;
        }

        .name-left {
            align-items: start;
        }

    }

    .form-control:focus{
        border: 1px solid rgba(234,100,217,0.4) !important;
        box-shadow:  0 0 0 4px rgba(234,100,217,0.1) !important;
    }
    
    .form-control{
        padding: 9px !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<div class="container-fluid p-0">
    <div class="d-flex  flex-column flex-md-row  bg-black  " style="min-height: 100vh;">
        <div style="height: 100vh;"
            class="position-sticky position-relative top-0 bg-light z-1 login-main-left col-md-4 d-flex align-items-end justify-content-center overflow-hidden  ">
            <video src="{% static 'video/cloner-cube-binary-copy (1).mp4' %}" loop muted autoplay class="w-100 h-100"
                style="object-fit: cover;"></video>
            <div class="position-absolute h-100 d-flex name-left w-100 py-4">
                <div style="width:95%; backdrop-filter: blur(20px);" class="h-auto mx-auto rounded-3">
                    <div class="w-100 pt-3 px-4 pb-2">
                        <h1 class="text-white" style="font-family: 'Grand Hotel', cursive;">wicomer</h1>
                        <p class="text-white">Background create by Spline</p>
                    </div>
                </div>
            </div>
            <div class="position-absolute arrow-up" style="padding-bottom: 55px;">
                <i class="fa-solid fs-5 fa-angles-up text-white placeholder-wave"></i>
            </div>
        </div>
        <div class="z-2  bg-white login-main-right  rounded-top-5 shadow d-flex flex-column  col-md-8 ">
            <h1 class="mt-5 pt-5 text-black fw-bold">Forgot Password</h1>
            <form class="mt-4" method="post">
                {% if form.errors %}

                {% for field in form %}
                
                {% for error in field.errors  %}
                    
                <div class="alert  alert-dismissible fade show text-white" style="background-color:  #ff5555;"
                    role="alert">
                     <span>{{error}}</span>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
                {% endfor %}

                {% endfor %}

                {% endif %}




                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Please input your email to send a password reset link or try re-entering your password once you've found your account.
                        <br><br>You will not be asked to enter your email password to maintain user security and trust</label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                        {{form.email}}
                    <div id="emailHelp" class="form-text">Insert email for Option you sign in</div>
                </div>
                <button type="submit" style="background-color: #0e0d23;"
                    class="btn py-2 mb-3 text-white w-100 rounded-5 shadow-sm">Submit</button>
            </form>
            <div class="flex-fill">
            </div>
            <div
                class="w-100 mb-auto d-flex py-3 border-top bg-white z-3 align-items-center justify-content-center gap-1 position-sticky bottom-0 ">
                <small>Don't have an accounts?</small>
                <a href="{% url 'signup' %}" class="small text-decoration-none " style="color: goldenrod;">Sign up</a>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('scroll', function () {
        if (window.innerWidth < 768) {
            var fromTop = window.scrollY;
            document.querySelector(".topimg").style.opacity = (100 - fromTop / 3) + '%';
        }
    });
    window.addEventListener('resize', function () {
        document.querySelector(".topimg").style.opacity = 100;
    });

</script>
{% endblock contains %}