{% extends 'layout\base.html' %}
{% load static %}
{% block contains %}

<style>
      
    .form-control:focus,.form-select:focus ,.form-check-input:checked,.form-check-input:focus{
        border: 1px solid #e380356c !important;
        box-shadow:  0 0 0 4px #e380351e !important;
    }


    .form-control,
    .form-select {
        padding: 9px !important;
    }

    #id_image_product {
        height: 100%;
        padding: 0;
    }

    input[type="file"]::-webkit-file-upload-button {
        background-color: black !important;
        color: white;
      }
</style>
<div class="container">
    <div class="d-flex py-3 px-2 z-3 position-sticky top-0 text-white  align-items-center justify-content-between" style="background-color: #292b31;">
        <button type="button" class="btn text-white  px-0 border-0">
            <i class="fa-regular fs-5 fa-arrow-left"></i>
        </button>
        <span class="fs-5" style="font-weight: 500;" id="text-nav">Add Product</span>
    </div>
    <form class="mt-2" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="mb-3  w-100  ">
            <label for="exampleInputEmail1" class="form-label">{{form.image_product.label_tag}}</label>
            {{form.image_product}}
            <div id="emailHelp" class="form-text" style="color: #e38035;">The image that is entered first will be the cover</div>
        </div>
        
        <div class="d-flex flex-nowrap pb-2 mb-2 overflow-x-auto gap-3" id="preview">
            <div class="border border-secondary rounded-3  overflow-hidden position-relative" style="flex: 0 0 120px; padding-bottom: 120px; border-style: dashed !important;">
                <div class="w-100 h-100 position-absolute d-flex align-items-center flex-column justify-content-center">
                    <span class="small">Preview</span>
                    <span class="small">Image</span> 
                </div>
            </div>
        
<script>
document.querySelector('input[type="file"]').addEventListener('change', function() {
    var preview = document.querySelector('#preview');
    preview.innerHTML = '';

    var files = this.files;
    for (let i = 0; i < files.length; i++) {
        var reader = new FileReader();

        reader.onload = function (e) {
            let $img = e.target.result;
            preview.innerHTML += `
                <div class="border border-secondary rounded-3 overflow-hidden position-relative" style="flex: 0 0 120px; padding-bottom: 120px; border-style: dashed !important;">
                    <img src="${$img}" class="w-100 h-100 position-absolute" style="object-fit: cover;" alt="">
                </div>
            `;
        };
        

        reader.readAsDataURL(files[i]);
    }
});
</script>

        </div>
        <div class="mb-3 d-flex w-100 gap-2 align-items-center">
            
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label">{{form.name_product.label_tag}}</label>
                {{form.name_product}}
            </div>
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label">{{form.category_product.label_tag}}</label>
                {{form.category_product}}
            </div>
        </div>
        <div class="mb-3 d-flex w-100 gap-2 align-items-center">
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label">{{form.price_product.label_tag}}</label>
                {{form.price_product}}
            </div>
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label">{{form.quantity_product.label_tag}}</label>
                {{form.quantity_product}}
            </div>
        </div>
        <div class="mb-3  w-100  ">
            <label for="exampleInputEmail1" class="form-label">Spesifikasi Product:</label>
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                aria-controls="offcanvasBottom" class="form-control border-1 text-white bg-transparent">Add</button>
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{form.kind.label_tag}}</label>
            {{form.kind}}
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Pre Order</label>
            <input type="checkbox" name="" id="preorder">
        </div>

        <div class="mb-3 d-none" id="preorderdate">
            <label for="exampleInputEmail1" class="form-label">{{form.pre_order_date.label_tag}}</label>
            {{form.pre_order_date}}
        </div>

        <script>
            const preoder = document.getElementById('preorder');

            preorder.addEventListener('input', function(){
                if(preorder.checked == true){
                    document.getElementById('preorderdate').classList.remove('d-none');                
                }else{
                    document.getElementById('preorderdate').classList.add('d-none');                    
                }

            });
        </script>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{form.description_product.label_tag}}</label>
            {{form.description_product}}
        </div>
        
        
        

        <button type="submit" class="btn w-100 text-white my-3 border-0 bg-black" >Submit</button>

        <div class="offcanvas bg-transparent offcanvas-bottom h-100" tabindex="-1" id="offcanvasBottom"
            aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header bg-transparent">
                <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body small" style="border-top-left-radius: 20px; background-color: #292b31;">
                <div class="container py-4 ">
                    <div class="addmorediv text-white">

                        <h2>Spesification</h2>
                        <div class="mb-3 mt-3 d-flex w-100 gap-2 align-items-center">
                            <div class="flex-fill">
                                <label for="exampleInputEmail1" class="form-label cekform">Name Spesification:</label>
                                {{form.spesification}}
                            </div>
                            <div class="flex-fill">
                                <label for="exampleInputEmail1" class="form-label">Values Spesification:</label>
                                {{form.valuespesification}}
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn bg-black text-white" onclick="addmore()">add more</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function addmore() {
        const cekform = document.querySelectorAll('.cekform');

        if (cekform.length < 5) {
            document.querySelector('.addmorediv').innerHTML += `
        <div class="mb-3 mt-3 d-flex w-100 gap-2 align-items-center">
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label cekform">Name Spesification:</label>
                {{form.spesification}}
            </div>
            <div class="flex-fill">
                <label for="exampleInputEmail1" class="form-label">Values Spesification:</label>
                {{form.valuespesification}}
            </div>
        </div>
        `;
        } else {

        }
    }


</script>
{% endblock contains %}