{% extends 'layout\base.html' %}
{% load static %}
{% block contains %}
{% load filter_tags %}
<style>
    .form-control:focus {
        border: 1px solid rgba(234, 100, 217, 0.4) !important;
        box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.1) !important;
    }
</style>




<div style="height: 100vh;" class="d-flex flex-column">
    <div class="container flex-fill">
        <div class="d-flex py-3 px-2 position-sticky top-0 bg-white align-items-center justify-content-between">
            <button class="btn px-0 border-0">
                <i class="fa-regular fs-5 fa-arrow-left"></i>
            </button>
            <span class="fs-5 fw-bold" id="text-nav">Custom Pesanan</span>
        </div>
        <div class="py-3 px-2 d-flex align-items-center border-bottom justify-content-between">
            <span class="fw-bold">{{Product}}</span>
            <span>15.000</span>
        </div>

        {% for spesification in Product.spesificationproduct_set.all %}

        <div style="border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #dee2e6;  "
            class="py-3 px-2 d-flex flex-column">
            <span class=" fw-bold">{{spesification}}</span>
            <small><span style="color: rgba(234,100,217,0.4);">require</span> • <span>Choose one </span></small>
        </div>
        <div class="border-bottom">

            {% for values in spesification.spesificationvalue_set.all %}
            {% for value in values.value_Spesification|split:"," %}
            <div class="py-3 px-2 d-flex align-items-center justify-content-between">
                <label>{{value}}</label>
                <input type="radio" name="{{spesification}}" id="">
            </div>
            {% endfor %}
            {% endfor %}

        </div>
        {% endfor %}

        <div class="py-3 px-2 d-flex align-items-end justify-content-between">
            <div class="d-flex flex-column">
                <span class=" fw-bold"> <span><i class="fa-solid fa-note"></i></span>
                    Notes</span>
                <small><span>Optional</span></small>
            </div>

            <div class="text-secondary small">
                <span id="notelength">0</span>/<span>200</span>
            </div>
        </div>
        <div>
            <form class="position-relative">
                <textarea name="" id="id_noted" class="form-control text-secondary"
                    style="font-size: 0.8rem !important;"></textarea>
            </form>
        </div>

        <script>
            const inputnote = document.getElementById('id_noted');

            inputnote.addEventListener('input', function () {
                document.getElementById('notelength').innerHTML = inputnote.value.length;
                console.log(inputnote.value.length);
            });
        </script>
        <div class=" py-3 mt-3 border-top z-3">
            <div class="d-flex align-items-center mb-3 justify-content-between">
                <span>Quantity</span>
                <div class="align-items-center d-flex gap-3">
                    <button class="rounded-circle btn-sm btn border" onclick="kurang()">
                        <span>
                            <i class="fa-regular fa-minus"></i>
                        </span>
                    </button>
                    <span id="quantity">1</span>
                    <button onclick="tambah()" class="rounded-circle btn-sm btn border">
                        <span>
                            <i class="fa-regular fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
            <button class="w-100 btn btn-dark rounded-5" style="background-color: #0e0d23;">
                Checkout
            </button>
        </div>
    </div>
</div>


<script>
    window.addEventListener('scroll', function () {
        var fromTop = window.scrollY;
        if (fromTop > 20) {
            document.getElementById("text-nav").textContent = '{{Product}}';
        } else {
            document.getElementById("text-nav").textContent = 'Custom Pesanan';

        }
    });


    function tambah() {
        var quantity = document.getElementById('quantity');
        const hasil = eval(`${quantity.textContent} + 1`);
        quantity.textContent = hasil;
    }
    function kurang() {
        var quantity = document.getElementById('quantity');
        if(quantity.textContent != 1){
        const hasil = eval(`${quantity.textContent} - 1`);
        quantity.textContent = hasil;
        }else{

        }
    }
</script>
{% endblock contains %}