{% extends 'layout\base.html' %}
{% load static %}
{% block contains %}


<style>
  @font-face {
    font-family: bahaus;
    src: url(../static/BauhausRegular.ttf);
  }


  .navbar-brand {
    font-family: bahaus !important;
  }
</style>
<div class="container-xxl overflow-hidden position-relative" style="height: 100vh;">

  <!-- navbar -->
  <nav class="navbar z-3 position-sticky top-0 navbar-expand-lg  mb-1">
    <div class="container-fluid px-sm-2 px-0">
      <span class="me-2 ms-1 d-lg-none d-block">
        <i class="fa-light fa-bars-staggered"></i>
      </span>

      <a class="navbar-brand me-auto text-white" style="font-weight: 500 !important;" href="#">wicomer</a>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <form class="d-flex position-relative mx-auto  w-75" role="search">
          <div class="position-absolute px-3 ms-1" style="padding: 0.43rem;"><span class=" text-black rounded-circle"><i class="fa-light fa-magnifying-glass"></i></span></div><input
            class="form-control ps-5 text-black rounded-5 shadow-none bg-white border-0 me-2" type="search" placeholder="Search"
            aria-label="Search">
        </form>
      </div>
      <div class="d-flex  align-items-center  border-0 p-1 rounded-5 " style="background-color: #363841;">
        <button class="bg-black text-white border-0 rounded-5 px-2 position-relative">
          <i class="fa-light fa-bell"></i>
          <span class="position-absolute top-0 start-100 translate-middle p-1  border-0 rounded-circle"
            style="margin-top: 4px; margin-left: -8px; background-color:  #e38035;">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          class="rounded-5 border-0 text-white bg-transparent px-2 position-relative">
          <i class="fa-light fa-box"></i>
          <span class="position-absolute top-0 start-100 translate-middle p-1  border-0 rounded-circle "
            style="margin-top: 4px; margin-left: -8px; background-color:  #e38035;">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </div>
    </div>
  </nav>


  <!-- Modal -->
  <div class="modal fade overflow-hidden" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  ">
      <div class="modal-content  border-0 p-2 shadow rounded-3 " style="background-color: #292b31;">
        <div class="modal-header border-0 p-0 p-3 ">
          <span class="modal-title " style="font-weight: 500 !important;" id="staticBackdropLabel">Order</span>
          <div class="d-flex gap-3">
            <button type="button" class="p-0 bg-transparent text-white border-0" data-bs-dismiss="modal" aria-label="Close">
              <span class="small">
                <i class="fa-light fa-arrow-up-right-from-square"></i>
              </span>
            </button>

            <button type="button" class="p-0 bg-transparent text-white border-0" data-bs-dismiss="modal" aria-label="Close">
              <span class="small"><i class="fa-light fa-x"></i></span>
            </button>

          </div>
        </div>
        <div class="modal-body overflow-y-scroll p-3 pt-0" style="height: 80vh;">
          <div class="d-flex flex-column gap-3">

            {% for row in Checkout %}
            <div class="d-flex gap-2 position-relative">
              {% with row.product.productimage_set.first as image %}
              <div id="{{image.name_image.url}}" class=" rounded-3 overflow-hidden position-relative"
                style="flex: 0 0 80px; padding-bottom: 80px; ">
                <img src="{{image.name_image.url}}" class="w-100 h-100 position-absolute" style="object-fit: cover;" alt="">
              </div>
              <div class="position-absolute">

              </div>
              <script>
                document.getElementById('{{image.name_image.url}}').addEventListener('click', function () {
                  document.getElementById('{{product}}image').src = "{{image.name_image.url}}";
                });
              </script>
              <!-- Use alt text that describes the image -->
              {% endwith %}
              <div class="d-flex flex-column w-100">
                <div class="d-flex gap-1 justify-content-between">
                  <span class="flex-fill">{{row.product.store_id}}</span>
                  <a href="#" role="button" data-bs-toggle="dropdown" class="text-white" aria-expanded="false"><i
                      class="fa-light fa-ellipsis-vertical"></i></a>
                  <div class="dropdown">
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item " href="{% url 'orderflow' order_id=row.id %}">Detail Order</a>
                      </li>
                      <li><a class="dropdown-item " href="#">Another action</a></li>
                      <li><a class="dropdown-item " href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <small class="text-secondary">{{row.created_at}}</small>
                  <small style="color: #e38035;">{{row.information}}</small>
                </div>
                <small>{{row.product}}</small>

              </div>
            </div>
            <hr class="m-0 p-0">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex flex-column">
                <small>
                  Rp {{row.totalharga}}
                </small>
                <small>
                  qty: {{row.quantity}}
                </small>
              </div>

              {% if row.information == "Waiting Seller Approved" %}
              <a href="{% url 'orderflow' order=row.id %}" role="button" class="text-decoration-none text-white">
                <button class=" border btn btn-sm py-2 bg-black text-white border-0 rounded-3">Cek Order</button>
              </a>

              {% else %}
              <a data-bs-toggle="offcanvas" href="#offcanvasBottom{{row.product.id}}d" role="button"
                aria-controls="offcanvasBottom" class="text-decoration-none text-white">
                <button data-bs-dismiss="modal" class=" border btn btn-sm text-white py-2 rounded-3">Buy Again</button>
              </a>

              {% endif %}

            </div>
            <div class="border-0  w-100 d-flex gap-2 rounded-3 p-3" style="background-color: #363841; border-end-end-radius: 80px !important;">
              Give rating <div class="d-flex flex-fill justify-content-around" style="color: goldenrod;"> <span><i
                    class="fa-light fa-star"></i></span> <span><i class="fa-light fa-star"></i></span> <span><i
                    class="fa-light fa-star"></i></span> <span><i class="fa-light fa-star"></i></span> <span><i
                    class="fa-light fa-star"></i></span>
              </div>
            </div>

            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row" style="height: 91%;">

    <!-- sidebar -->
    <div class="col-lg-3 border-end gap pt-3 border-top d-sm-block d-none col-sm-2 overflow-y-scroll h-100" style="background-color: #141519;">
      <div class="w-75 d-lg-block d-none ">

        <ul class="list-unstyled ">
          <li class="mb-2">
            <button
              class="btn border-0 w-100  d-flex align-items-center justify-content-start gap-3 text-white ">
              <span class="position-relative" ><i
                class="fa-solid fa-house-blank"></i> <span
                  class="position-absolute top-0 start-100 translate-middle p-1  border-0 rounded-circle"
                  style="margin-top: 2px;  margin-left: 0px; background-color:  #e38035;">
                  <span class="visually-hidden">New alerts</span>
                </span></span><span style="color: #e38035;">Home</span></button>
          </li>
          <li class="mb-2">
            <button
              class="btn border-0 text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-magnifying-glass"></i></span><span class="text-secondary">Discover</span></button>
          </li>
          <li class="mb-2">
            <button
              class="btn border-0 text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-file-pen"></i></span><span class="text-secondary">Transaction</span></button>
          </li>
          <li class="mb-2">
            <button
              class="btn border-0 p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3 text-white ">
              <span class="position-relative"><i
                class="fa-light fa-message-lines"></i> <span
                  class="position-absolute top-0 start-100 translate-middle p-1  border-0  rounded-circle"
                  style="margin-top: 2px;  margin-left: 0px; background-color:  #e38035;">
                  <span class="visually-hidden">New alerts</span>
                </span></span><span class="text-secondary">Message</span></button>
          </li>
        </ul>
        <hr>
        <ul class="list-unstyled ">
          <li class="mb-2">
            <button
              class="btn border-0 text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-hand-holding-box"></i></span><span class="text-secondary">Store Follow</span></button>
          </li>
        </ul>
        <hr>
        <ul class="list-unstyled overflow-hidden mb-0" id="sidenavcategory" style="height: 400px; transition: 0.3s;">
          <li class="mb-2">
            <button
              class="btn border-0 text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-grid-2"></i></span><span>All Categories</span></button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Food</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Drink</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Fruit</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Ice Cream</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Raw Food</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Man Clothes</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Man
              Accesories</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Woman Clothes</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Woman
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Hat</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Shoes</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Motorcycle and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Car and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Helmet and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Electronic</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Handphone and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Laptop and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Computer and
              Accesories</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Skincare</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Makeup</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Basic Needs</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Voucher and
              Phonecredit</button></li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Top Up Games</button>
          </li>
          <li class="mb-2"><button class="btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3">Home
              Decoration</button>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li class="mb-2"><button  class="border-0 btn p-2 text-secondary px-3 w-100 rounded-3 d-flex text-start gap-3"
              onclick="categorysidenavrespon()"><span id="arrowresponsidnavcategory"
                style="transition: 0.3s; transform: rotate(180deg);"><i class="fa-light fa-angle-up"></i></span><span
                id="txtbtncategorysidenav">Show More</span></button></li>
        </ul>
        <hr>
        <ul class="list-unstyled ">
          <li class="mb-2">
            <button
              class="btn text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-gear"></i></span><span>Setting</span></button>
          </li>
          <li class="mb-2">
            <button
              class="btn text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-circle-info"></i></span><span>Help</span></button>
          </li>
          <li class="mb-2">
            <button
              class="btn text-white p-2 px-3 w-100 rounded-3 d-flex align-items-center justify-content-start gap-3"><span><i
                  class="fa-light fa-message-exclamation"></i></span><span>Feedback</span></button>
          </li>
        </ul>
        <hr>
        <ul class="list-unstyled ">
          <li class="mb-2">
            <div class="border rounded-3">
              <div
                class=" card-body z-2 border-0 w-100  text-white p-2 d-flex align-items-start justify-content-between">
                <div class="d-flex align-items-center gap-2">
                  <div class="rounded-circle overflow-hidden"
                    style="width: 30px; height: 30px;">
                    <img src="../media/product_images/wp8982689-artists-4k-wallpapers.jpg" style="object-fit: cover;"
                      class="w-100 h-100" alt="">
                  </div>
                  <span class="d-flex flex-column text-white" style="line-height: 15px;">
                    <span>sdfsdfhsd</span>
                    <small style="font-size: 0.7rem;">RPL B</small>
                  </span>
                </div>
                <button class="btn btn-sm rounded-3  text-white py-1"><i
                    class="fa-light fa-ellipsis-vertical"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <script>
      const categorysidenav = document.getElementById('sidenavcategory');
      const txtbtncategorysidenav = document.getElementById('txtbtncategorysidenav');
      const arrowresponsidnavcategory = document.getElementById('arrowresponsidnavcategory');
      function categorysidenavrespon() {
        if (categorysidenav.style.height == "auto") {
          categorysidenav.style.height = "400px";
          txtbtncategorysidenav.textContent = 'Show More';
          arrowresponsidnavcategory.style.transform = 'rotate(0deg)';
        } else {
          categorysidenav.style.height = "auto";
          txtbtncategorysidenav.textContent = 'Show Less';
          arrowresponsidnavcategory.style.transform = 'rotate(180deg)';

        }
      };
    </script>

    <style>
      /* Mengubah tampilan track/jalur dari scroll bar */
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
    <!-- mainpage -->
    <div class="col-lg-6 col-sm-8  px-sm-4 px-3  border-top col-12 overflow-y-scroll  h-100">
      <div class="d-flex  pt-3 align-items-center justify-content-between">
        <ul style="list-style: none;" class="p-0 px-2 d-none btn-swip-kiri">
          <li>
            <span>
              <i class="fa-light fa-chevron-left fs-6"></i>
            </span>
          </li>
        </ul>
        <div class="overflow-x-hidden p-0">
          <ul class="d-flex  gap-3 p-0" style="list-style: none;">
            <li><button
                class="btn btn-sm text-white  d-flex align-items-center  gap-2 p-2 px-3  bg-black text-white rounded-5 border-0 "
                style="white-space: nowrap; cursor: pointer; font-weight: 500 !important;">Discover</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Food</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Drink</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Fruit</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Ice Cream</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Raw Food</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Man Clothes</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Man Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Woman Clothes</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Woman Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Hat</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Shoes</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Motorcycle and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Car and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Helmet and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Electronic</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Handphone and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Laptop and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Computer and Accesories</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Skincare</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Makeup</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Basic Needs</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Voucher and Phonecredit</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Top Up Games</button></li>
            <li><button class="btn btn-sm text-white  d-flex align-items-center gap-2  p-2 px-3 rounded-3 border-0"
                style="white-space: nowrap; cursor: pointer;">Home Decoration</button></li>
          </ul>
        </div>
        <ul style="list-style: none;" class="p-0 px-2 btn-swip-kanan">
          <li>
            <span>
              <i class="fa-light fa-chevron-right fs-6"></i>
            </span>
          </li>
        </ul>
      </div>
      <hr class="p-0 m-0 mb-3">


      {% for product in Product %}


      <div class="mb-3">
        <div class=" card-body z-2 border-0 w-100 pb-2 d-flex align-items-start justify-content-between">
          <div class="d-flex align-items-center gap-2">
            <div class="rounded-circle overflow-hidden" style="width: 35px; height: 35px; ">
              <img src="../media/product_images/wp8982689-artists-4k-wallpapers.jpg" style="object-fit: cover;"
                class="w-100 h-100" alt="">
            </div>
            <span class="d-flex flex-column" style="line-height: 18px;">
              <span>sdfsdfhsd</span>
              <small style="font-size: 0.785rem;">Rekayasa perangkat lunak b</small>
            </span>
          </div>
          <button class="btn rounded-3 border-0 text-white rounded-3  py-1"><i
            class="fa-light fa-ellipsis-vertical"></i></button>
        </div>

        <div class="rounded-3 overflow-hidden position-relative">
          {% with product.productimage_set.first as img %}
          <!-- Use alt text that describes the image -->
          <img src="{{img.name_image.url}}" class="img-fluid" alt="">

          {% endwith %}
        </div>
        <div class="p-2  border-bottom d-flex align-items-center justify-content-between">
          <span style="font-weight: 500 !important;">Rp {{product.price_product}}</span>
          <span class="text-secondary">No Preorder</span>
        </div>
        <div class="p-2">
          <div class="d-flex align-items-center my-1 justify-content-between align-items-center">
            <div>
              <span class="h4 me-3"><i class="fa-light fa-heart"></i></span>
              <span class="h4"><i class="fa-light fa-share"></i></span>
            </div>
            <div>
              <a data-bs-toggle="offcanvas" href="#offcanvasBottom{{product.id}}d" role="button"
                aria-controls="offcanvasBottom" class="text-decoration-none text-white">
                <span class="h4"><i class="fa-light fa-bag-shopping"></i></span>
              </a>
            </div>
          </div>
          <span>
            <span>0</span> Likes • <span><i class="fa-solid fa-star" style="color: goldenrod;"></i></span><span>
              0.0</span> | <span class="text-secondary small">0</span><span class="text-secondary small">
              Terjual</span>
          </span><br>
          <span id="text-span" class="small">
            <span class="text-white">{{product}}</span>, {{product.description}}
          </span>
          <small class="text-secondary">
            <span>2</span> Days ago
          </small>
        </div>
      </div>
      {% endfor %}

      <style>
        #text-span {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      </style>
      <script>



        // Menentukan elemen yang akan digeser
        let slider = document.querySelector('.overflow-x-hidden');

        // Menentukan tombol navigasi
        let btnPrev = document.querySelector('.btn-swip-kiri');
        let btnNext = document.querySelector('.btn-swip-kanan');

        let slideWidth = slider.querySelector('li').clientWidth;

        // Menentukan fungsi untuk geser ke kiri
        btnPrev.addEventListener('click', function () {
          slider.scrollLeft -= slideWidth;
          btnNext.classList.remove('d-none');

          if (slider.scrollLeft == 0) {
            btnPrev.classList.add('d-none');
          }
        });

        // Menentukan fungsi untuk geser ke kanan
        btnNext.addEventListener('click', function () {
          slider.scrollLeft += slideWidth;
          btnPrev.classList.remove('d-none');

          if (slider.scrollLeft == 380) {
            btnNext.classList.add('d-none');
          }
        });

      </script>

    </div>

    <!-- siderightbar -->
    <div class="col-lg-3 border-start px-4 d-sm-block d-none pt-3 border-top col-sm-2 overflow-y-scroll h-100">
      <div class="d-lg-block d-none">
        <div class="card mb-3 rounded-3 border-0 text-white" style="background-color: #363841; border-end-end-radius: 90px !important;">
          

            
          <div class="card-body " >
            {% if Store %}
            <h6 class="card-title " style="font-weight: 500 !important;">Welcome To Wicostore</h6>
            <div class="align-items-center d-flex justify-content-between">
                <div class="d-flex align-items-center mb-2 mt-3 gap-2">
                  <div class="rounded-circle overflow-hidden"
                    style="width: 33px; height: 33px;">
                    <img src="../media/product_images/wp8982689-artists-4k-wallpapers.jpg" style="object-fit: cover;"
                      class="w-100 h-100" alt="">
                  </div>
                  <span class="d-flex flex-column text-white" style="line-height: 17px;">
                    <span>{{Store}}</span>
                    <small style="font-size: 0.7rem; width: 110px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{Store.email_store}}</small>
                  </span>
                </div>
                <span class="small text-secondary">20k</span>
      
              </div>
                <a href="{% url 'storecreate' %}" class="btn border-0 text-white bg-black">Go To Store</a>
                {% else %}
                    <h6 class="card-title " style="font-weight: 500 !important;">Join To Wicostore</h6>
                    <p class="small">Ayo gabung dengan Wicostore! Kami yakin semua pelajar bisa jadi pengusaha sukses. Kami siap
                      bantu kamu capai impian itu.
                      Tunggu apa lagi? </p>
                    <a href="#" class="btn border-0 text-white bg-black">Join Now</a>
            {% endif %}
          </div>

        </div>
        <div class="card mb-3 rounded-3 border-0 text-white" style="background-color: #363841; border-end-end-radius: 90px !important;">
          <div class="card-body">
            <h6 class="card-title " style="font-weight: 500 !important;">Product Favorite</h6>
            <ul class="list-unstyled " id="sidenavcategory">
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Food</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Drink</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Fruit</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Ice Cream</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Raw Food</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Man Clothes</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Man Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Woman Clothes</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Woman Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Hat</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Shoes</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Motorcycle and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Car and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Helmet and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Electronic</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Handphone and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Laptop and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Computer and
                  Accesories</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Skincare</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Makeup</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Basic Needs</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Voucher and
                  Phonecredit</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Top Up Games</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>
              <li class="mb-2 text-white d-flex flex-column">
                <span class="small " style="color: #e38035;">Home Decoration</span>
                <span>Product Name</span>
                <span class="small " style="color: #e38035;"><span>2k</span> selling</span>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="position-fixed row w-100 bottom-0 mb-4 mb-sm-2">
    <div class="col-lg-3 col-sm-2 d-sm-block d-none"></div>
    <div class="col-lg-6 col-sm-8 col-12 pb-sm-2 pb-5  d-flex justify-content-center"
      style="padding-left: 13px; padding-right: 13px;">
      {% with Checkout.first as row %}
      <button
        class="btn px-3 placeholder-wave rounded-5 d-flex gap-2 border-0 align-items-center  justify-content-center"
        style="backdrop-filter: blur(60px); background-color: #ffffff60;"><i
          class="fa-light fa-box"></i><span>{{row.shipping_information}}</span></button>
      {% endwith %}

    </div>
    <div class="col-lg-3 col-sm-2 d-sm-block d-none"></div>
  </div>
</div>


<footer class="w-100 position-fixed d-sm-none z-3 bottom-0 " >
  <div class="  d-flex align-items-end shadow pb-2 rounded-top-5 justify-content-around p-2 gap-2 w-100" style="background-color: #141519; height: 55px;">
    <div class="d-flex flex-column align-items-center">
      <span>
        <i class="  fa-solid fa-house-blank "></i>
      </span>
      <span style="line-height: 14px; color: #e38035;" class="small ">Home</span>
    </div>
<div class="d-flex flex-column align-items-center">
  <span>
    <i class="  fa-light fa-magnifying-glass "> </i> </span>
<span style="line-height: 14px;" class="small text-secondary">Search</span>
</div>
<div class="d-flex flex-column align-items-center" >
  <span style="background-color: #363841;  width: 55px; height: 55px;" class="rounded-circle d-flex align-items-center justify-content-center" >
    <i class=" fs-5 fa-light fa-file-pen "></i>
  </span>
</div> 
<div class="d-flex flex-column align-items-center">
  <span>
    <i class="  fa-light fa-message-lines "></i>
  </span>
<span style="line-height: 14px;" class="small text-secondary">Message</span>
</div>
<div class="d-flex flex-column align-items-center">
  <a href="{% url 'storecreate' %}">
    <div class="rounded-circle overflow-hidden " style="width: 28.5px; height: 28.5px;">
      <img src="{% static 'img/default profil.svg' %}" class="img-fluid " alt="">
    </div>
  </a>
<span style="line-height: 12px;" class="small text-secondary">
  profile
</span>
</div>
  </div>
</footer>
<style>
  @media (max-width: 576px) {
    .body-databarang {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
</style>
{% for product in Product %}

<div class="offcanvas h-100 bg-transparent  offcanvas-bottom" tabindex="-1" id="offcanvasBottom{{product.id}}d"
  aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header bg-transparent py-0">
    <button type="button" class=" ms-auto border-0 bg-transparent  p-0 py-1 " data-bs-dismiss="offcanvas"
      aria-label="Close"><span class="fs-5"><i class="fa-light text-white fa-xmark"></i></span></button>
  </div>
  <div class="offcanvas-body body-databarang px-sm-5  p-0 pb-0 " style="border-top-left-radius: 1rem; background-color: #292b31;">
    <div class="container-sm  py-0" style="min-height: 100vh;">
      <div class="d-flex alig-items-center z-3  justify-content-between py-3">
        <div class="d-flex align-items-center gap-1">
          <a href="{% url 'storecreate' %}">
            <div class="rounded-circle overflow-hidden " style="width: 50px; height: 50px;">
              <img src="{% static 'img/default profil.svg' %}" class="img-fluid " alt="">
            </div>
          </a>
          <div class="d-flex flex-column">
            <span style="line-height: 20px; font-weight: 500 !important;" class="text-white fs-5">
              {{product.store_id}}
            </span>
            <style>
              @keyframes glowing {
                0% {
                  transform: scale(1);
                  opacity: 0.3;
                }

                50% {
                  transform: scale(1.3);
                  opacity: 0.5;
                }

                100% {
                  transform: scale(1.6);
                  opacity: 0;
                }
              }

              .circle {
                position: relative;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #50ac5a;
              }

              .circle::before {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #50ac5a;
                animation: glowing 2s infinite;
              }
            </style>
            <small style="line-height: 18px;" class="d-flex align-items-center gap-1">
              <div class="circle"></div>
              <div style="color: #50ac5a;" class="small d-flex align-items-center gap-2">store open<span class="text-white"> • </span><a href=""
                  class="text-decoration-none text-secondary">Follow</a></div>
            </small>
          </div>
        </div>

        <div class="d-flex align-items-center gap-2">
          <div>
            <button class="btn border text-white  rounded-5 "><i class="fa-light fa-heart"></i></button>
          </div>
          <div>
            <button class="btn text-white rounded-5 btn-msg-owner border-black bg-black"><span>message</span></button>
          </div>
        </div>

      </div>
      <div class="w-100 mb-2 rounded-3 overflow-hidden">
        {% with product.productimage_set.first as img %}
        <!-- Use alt text that describes the image -->
        <img src="{{img.name_image.url}}" style="transition: 0.3s;" id="{{product}}image" class="img-fluid"
          alt="{{ product }}">
        {% endwith %}

      </div>
      <div class="mb-2 pb-2 flex-nowrap d-flex align-items-center gap-2 overflow-x-auto">
        {% for img in product.productimage_set.all %}
        <div id="{{img.name_image.url}}" class=" rounded-3 overflow-hidden position-relative"
          style="flex: 0 0 80px; padding-bottom: 80px; ">
          <img src="{{img.name_image.url}}" class="w-100 h-100 position-absolute" style="object-fit: cover;" alt="">
        </div>
        <script>
          document.getElementById('{{img.name_image.url}}').addEventListener('click', function () {
            document.getElementById('{{product}}image').src = "{{img.name_image.url}}";
          });
        </script>
        <!-- Use alt text that describes the image -->
        {% endfor %}
      </div>


      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span style="font-weight: 500 !important;" class=" fs-5 text-white">
            {{product.name_product}}
          </span>
        </div>
        <div>
          <button class="btn-sm btn d-flex align-items-center gap-1">
            <span><i class="fa-solid fa-star" style="color: goldenrod;"></i></span>
            <!-- Use a standard font size for rating -->
            <span class="text-white">4.5</span>
          </button>
        </div>
      </div>
      <style>
        .breadcrumb-item::before{
          color:white !important;
        }
      </style>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb " >
          <li class="breadcrumb-item text-white small "><a href="#" class="text-secondary text-decoration-none">Home</a></li>
          <li class="breadcrumb-item small "><a href="#" class="text-secondary text-decoration-none">category</a></li>
          <li class="breadcrumb-item small" style="color: #e38035;" aria-current="page">{{product.category}}</li>
        </ol>
      </nav>
      <hr style="color: white;">
      <span class="text-white">About The Product</span>
      <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, sunt dolor?
        Tempora
        quidem iste animi iure quisquam quae, voluptatibus ipsa commodi aperiam? Quae facilis tempora fugiat magnam
        laboriosam vero aut!</p>
      <hr style="color: white;">
      <div class="d-flex align-items-center justify-content-between">
        <span class="text-white">About The Product</span>
        <span class="text-secondary">
          0 sales
        </span>
      </div>
      <div class="w-100 position-sticky py-2  z-3 bottom-0 d-flex align-items-center justify-content-between" style="background-color: #292b31;">
        <div>
          <span style="color: #e38035;">Price</span>
          <h5 class="text-white" style="font-weight: 500 !important;">Rp {{product.price_product}}</h5>
        </div>
        <a href="{% url 'orderproduct' Product=product %}" class="text-decoration-none">
          <button class="btn border-0 text-white d-flex align-items-center gap-2 rounded-3 bg-black">
            <span><i class="fa-light fa-bag-shopping"></i></span>
            <span>buy</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>


{% endfor %}


<script>

  lottie.loadAnimation({
    container: document.getElementById('loadingAnimation'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '{% static "store.json" %}' // Lokasi file JSON animasi
  });

  var x = window.matchMedia("(max-width:576px)");
  window.addEventListener('resize', function () {
    const element = document.querySelectorAll('.btn-msg-owner');
    if (x.matches) {
      element.forEach(data => {
        data.innerHTML = '<i class="fa-light fa-message-lines "></i>';
      });

    } else {
      element.forEach(data => {
        data.innerHTML = 'message';
      });

    }
  });
  window.addEventListener('load', function () {
    const element = document.querySelectorAll('.btn-msg-owner');
    if (x.matches) {
      element.forEach(data => {
        data.innerHTML = '<i class="fa-light fa-message-lines "></i>';
      });

    } else {
      element.forEach(data => {
        data.innerHTML = 'message';
      });

    }
  });
</script>
{% endblock contains %}