
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'layout/snippets/css.html' %}
    {% include 'layout/snippets/jstop.html' %}
</head>
<body class="bg-white">
    
    
    {% block headers %}
        
    {% endblock headers %}
        
    
    {% block contains %}
        
    {% endblock contains %}
            

    {% include 'layout/snippets/jsbottom.html' %}
</body>
</html>