{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'layout/snippets/css.html' %}
    {% include 'layout/snippets/jstop.html' %}
</head>


<div style="z-index: 999; " id="loadingAnimationbase" class="   position-fixed d-flex flex-column align-items-center justify-content-center w-100 h-100 bg-white" >
    <h1 class="fw-bold" style="font-family: bahaus;">wicomer</h1>
</div>


<body style="background-color: #292b31; color: white !important;">
    
    <style>
        @font-face {
            font-family: bahaus;
            src: url(http://127.0.0.1:8000/static/BauhausRegular.ttf);
          }
        
        * {
            font-family: 'Outfit', sans-serif;
            scroll-behavior: smooth;
            font-weight: 300 !important;

        }
        
    </style>
    {% block headers %}
        
    {% endblock headers %}
        
    
    {% block contains %}
        
    {% endblock contains %}
            
    
    {% include 'layout/snippets/jsbottom.html' %}
</body >
</html>

<script>
  

    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector("#loadingAnimationbase").style.visibility = "visible";
        } else {
            document.querySelector("#loadingAnimationbase").style.visibility = "hidden";
            document.querySelector("body").style.visibility = "visible";
        }
    };
  
</script>